<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>

<body style="text-align: center;">

    <p style="color: red; font-size: 20px;">Oops! An error occurred!</p>
    <img src="/images/404.png" alt="Error 404" style="max-width: 100%; height: auto;">
    <!--max-width: 100%: Ensures the image will never be larger than the width of its container (the <body> in this case).-->
    <!--height: auto: Automatically adjusts the height to maintain the image's aspect ratio.-->
</body>

</html>
